<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulador Cadastro Alunos</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
</head>
    <body>
        <h1>Cadastro ALuno</h1>

        <div class="menu_entradas">
            <label for="nome">Nome: </label>
            <input type="text" id="nome" name="nome" placeholder="Digite o nome">

            <label for="email">Email: </label>
            <input type="text" id="email" placeholder="Digite o e-mail">

            <label for="dataNascimento">DataNascimento: </label>
            <input type="text" id="dataNascimento" placeholder="Digite a data XX/XX/XXXX">
            <button class="cadastro" id="cadastrar_fim">Cadastrar</button>
        </div>

    </body>
</html>