<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulador Cadastro Alunos</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
</head>
    <body>
        <h1>Simulador Cadastro Alunos</h1>

        <div class="menu_botoes">
            <a href="cadastro.html">
                <button class="cadastro" id="cadastrar_pag">Cadastrar Aluno</button>
            </a>
            <button class="deletar">Deletar Aluno</button>
            <button class="busca">Buscar Aluno</button>
            <button class="altera">Alterar Email</button>
        </div>

    </body>
</html>